


.color-pink-main{
  background:linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%)
}

.main-gradient{
  background: 
  linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%)

}
.main-color{
  color:#FF385C;
}
.bg-main-color{
  background-color: #FF385C;;
}
.bg-222{
  background-color: #222;
}
/* ---------------------------------------------- */

.w-350c {
  width: 350px;
}
.border-r-1 {
  border-right-width: 1px;
}
.border-1 {
  border-width: 1px;
  border-style: solid;
}
.shadow-searchbox {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}
.shadow-searchbox:hover {
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.shadow-searchbox-smartf {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.color222 {
  color: #222222;
}
.color71 {
  color: #717171;
}
.icon-unknown {
  display: block;
  height: 16px;
  width: 16px;
  fill: #222;
}
.icon-explore {
  display: block;
  fill: none;
  height: 24px;
  width: 24px;
  stroke: currentcolor;
  stroke-width: 4;
  overflow: visible;
}
.icon-whistlists {
  display: block;
  fill: none;
  height: 24px;
  width: 24px;
  stroke: currentcolor;
  stroke-width: 2.66667;
  overflow: visible;
}
.icon-log-in {
  display: block;
  height: 24px;
  width: 24px;
  fill: currentcolor;
}
.grid-for-hometype-list {
  display: grid;
  grid-template-rows: 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
}
.flex-child {
  flex: 0 1 auto;
}
.w-calc-48 {
  width: calc(100% - 48px);
}

@media (max-width:745px) {
  .shadow-header-smartf {
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
  }
}

.border-t-1-menubar {
  border-top: 1px solid rgb(238, 238, 238);
}
.flex-1-0-auto {
  flex: 1 0 auto;
}
.manrope-700 {
  font-weight: 700;
}
.h-calc-vw48 {
  height: calc(100vw - 48px);
}
.heart-gray-icon {
  display: block;
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke: white;
  stroke-width: 2;
  overflow: visible;
}

.rounded-book-icon {
  border-radius: 2px 10px 10px 2px;
}
.book-shadow {
  box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.3);
}
.grid-in-item {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Tạo 3 cột với kích thước bằng nhau */
  grid-auto-rows: 1fr; /* Đặt chiều cao tỷ lệ cho mỗi hàng là 2fr */
}
.border-l-1 {
  border-left-width: 2px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.star-letter {
  height: 12px;
  width: 12px;
  fill: currentcolor;
}
.grid-in-detail-item {
  display: grid;
  grid-template-columns: auto 1fr; /* Tạo 2 cột với kích thước bằng nhau */
  grid-template-rows: repeat(4, 1fr); /* Tạo 4 hàng với kích thước bằng nhau */
  grid-auto-flow: column;
  grid-gap: 2px; /* Khoảng cách giữa các ô */
  text-align: left;
}
/* .unknown-leading-15 {
  line-height: 13px;
} */
/* ------------------ */
.left-arrow-icon {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 4;
  overflow: visible;
}
.unknown-icon-2 {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 2;
  overflow: visible;
}
.heart-icon-2 {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 2;
  overflow: visible;
}
.font-size26 {
  font-size: 26px;
}
.leading30 {
  line-height: 30px;
}
.good-price-icon {
  display: block;
  height: 32px;
  width: 32px;
  fill: rgb(227, 28, 95);
  stroke: currentcolor;

}
.border-y-1 {
  border-top: 1px solid rgb(195, 195, 195);
  border-bottom: 1px solid rgb(192, 192, 192);
}
.super-host-icon{
 display: block; height: 24px; width: 24px;

}
.font-size22{
  font-size: 22px;

}
.font-size12{
  font-size:12px;
}
.font-size14{
  font-size:14px;
}
.font-size10{
  font-size:10px;
}
.square-104{
  width:104px;
  height:104px;
}
.bg-unknown-gray {
  background-color: #EDECE6   ;
}
.rounded-unknown{
  border-radius: 24px;
}
.mt--5{
  margin-top:-5px;
}
.max-w-96{
  max-width:96px;
}
.max-w-210{
  max-width: 210px;
}
.max-w-380{
  max-width: 380px;
}
.shadow-unknown{
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.weight-800{
  font-weight: 800;
}
.bg222{
  background-color: #222;
}
.colorb0{
  color:#b0b0b0;
}
.w-calc-7{
  width: calc((100% - 12px) / 7);
}
.border-t-1{
  border-top-width: 1px;
  border-top-style: solid;
}
.font-size18{
  font-size: 18px;
}
.bg-f7{
  background:#f7f7f7;
}
.bg-fb{
  background:#f7f7f7;
}
.border1{
  border:1px solid red;
}
.border2{
  border:1px solid blue;
}
.border3{
  border:1px solid black;
}
.border1-gray{
  border:1px solid rgb(223, 223, 223);
}
.left--24{
  left:-24px;
}
.right--24{
  right:-24px;
}
.color-gray7{
  color:#717171;
}
.gradient-gray{
  background: linear-gradient(to right, #f7f7f7 60% , #f7f7f700 100%);
}
.gradient-gray-toleft{
  background: linear-gradient(to left, #f7f7f7 80% , #f7f7f700 100%);
}
.gradient-white{
  background: linear-gradient(to right, #ffffff 80% , #f7f7f700 100%);
}
.gradient-white-toleft{
  background: linear-gradient(to left, white 50% , #f7f7f700 100%);
}
.bg-grayf7{
  background:#f7f7f7;
}


.scrollable-element::-webkit-scrollbar { display: none; }


.scrollable-element::-webkit-scrollbar-thumb {
  background-color: transparent;
  width:none;
 
} 

.w-min-285{
  min-width: 285px;
}
.top--16{
  top:-16px;
}
.pt-1px{
  padding-top:1px;
}
.pr-1px{
  padding-right:1px;
}

.border44{
  border:4px solid red;
}
@media(max-width:745px){

  .mt-body{
    margin-top:170px;
  }
}
@media(min-width:745px){
  .mt-body{
    margin-top: 204px;
  }
}
.leading-unknown{
  line-height:15px;
}
.after-w-calc::after{
  width:calc(100% - 24px)
}
.color222-after::after{
  color:222
}
.bg222-after::after{
  background-color: #222;
}
.header2::-webkit-scrollbar { display: none; }

.border-bottom-unknown{
  border-bottom: 2px solid #222;

}



.grid-homepage{
  display:grid;
  column-gap:24px;
  row-gap:40px;
  grid-template-columns: 1fr;
  grid-template-rows: 79px ;
}

@media (min-width:324px){
  .grid-homepage{
    grid-template-rows: 59px;
  }
}
.special-width{
  width:calc(100vw - 48px);
}
.special-height{
  height:calc(100vw - 48px);
}


@media (min-width:550px) {
  .grid-homepage{
    grid-template-columns: 1fr 1fr;
  }
  .total-price-container{
    grid-area: 1/1/2/3;
  }
  .special-width{
    width:calc((100vw - 72px) / 2);
  }
  .special-height{
    height:calc((100vw - 72px) / 2);
  }
  
  
}
@media(min-width:745px){
  .grid-homepage{
  grid-template-rows: 51px ;

  }
  .w-calc-2{
    width:calc(100vw - 80px)
  }
  .special-width{
    width:calc((100vw - 24px - 80px) / 2);
  }
  .special-height{
    height:calc((100vw - 24px - 80px) / 2);
  }
}
@media(min-width:950px){
  .grid-homepage{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .total-price-container{
    grid-area: 1/1/2/4;
  }
  .special-width{
    width:calc((100vw - 48px - 80px) / 3);
  }
  .special-height{
    height:calc((100vw - 48px - 80px) / 3);
  }
  
}
@media(min-width:1130px){
  .grid-homepage{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .total-price-container{
    grid-area: 1/1/2/5;
  }
  .totalprice{
    grid-area: 1/2/2/4;
  }
  .special-width{
    width:calc((100vw - 72px - 80px) / 4);
  }
  .special-height{
    height:calc((100vw - 72px - 80px) / 4);
  }
  
}
@media (min-width:1440px) {
  .w-calc-2{
    width:calc(100vw - 160px)
 
  }
  .special-width{
    width:calc((100vw - 72px - 160px) / 4);
  }
  .special-width{
    width:calc((100vw - 72px - 160px) / 4);
  }
  
}
.set-row-height{
  grid-template-rows: auto auto auto auto;
}
.set-mt--c2{
  margin-top:-1px;
}
/* .item-container{
  width:calc(100vw - 48px)
} */


.transition-margin{
  transition: margin 0.3s ease;
}
.y-center{
  top:50%;
  transform: translateY(-50%);
}
.x-center{
  left:50%;
  transform: translateX(-50%);
}
.box-shadow-u2{
  box-shadow:  0 0 0 1px transparent,0 0 0 4px transparent,0 2px 4px rgba(0,0,0,0.18);
}
.bg-white-u1{
  background:#ffffffab;
}
.box-shadow-u2:hover{
  box-shadow: 0 0 1px transparent,0 0 0 4px transparent,0 6px 16px rgba(0,0,0,0.12)
}
.top-98{
  top:calc(100% *288px)
}
.setting-u1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.z100{
  z-index: 100;
}
.z1000{
  z-index: 1000;
}
.z10000{
  z-index: 10000;
}
.z100000{
  z-index: 100000;
}
.zmax{
  z-index: 10000000000000;
}
.box-shadow-header2{
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
}

.box-shadow-none{
  box-shadow:none;
}
.w-max--48{
  width:calc((100% - 48px))
}
.bg-gray-80{
  background-color: rgba(255, 255, 255, 0.801);
}
.zmax2{
  z-index: 10000000000001;
  
}
.border-top-05px{
  border-top-width: 0.5px;
}
.box-shadow-whereto{
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 6px 20px rgb(0 0 0 / 20%)
}
.flex-0-0-auto{
  flex:0 0 content;
}
.left--24{
  left:-24px;
}
.w-plus48{
  width:calc(100% + 48px)
}
.x-mandatory{
  scroll-snap-type: x mandatory;
}
.scroll-snap-align-start{
  scroll-snap-align: start;
}
.box-shadow-u3{
  box-shadow: 0 1px 2px rgb(0 0 0/0.08), 0 4px 12px rgb(0 0 0/0.05)
}
.border-u3{
  border:1px solid rgb(0 0 0/0.04)
}
.bg-eb{
  background:#ebebeb;
}
.h-calc-w{
  height:calc((100vw - 6*3px)/7)
}
.h-calc-133{
  height:calc(100vh - 133px)
}
.top--200{
  top:-200px;
}
.transition-u2{
  transition: top 0.5s linear,opacity 0.5s linear,display 0.5s linear;
}
.box-shadow-u4{
  box-shadow:  0 1px 2px rgba(0,0,0,0.05), 0 4px 6px rgba(0,0,0,0.03);
}
.border-gray176{
  border-color:  0 1px 2px rgba(0,0,0,0.05), 0 4px 6px rgba(0,0,0,0.03);
  
}
.h-calc-u2{
  height:calc(100% - 70px)
}
.zmax3{
  z-index: 10000000000002;


}
.left--12{
  left:-12px;
}
.rounded-4xl{
  border-radius: 26px 26px 0 0;
}
.box-shadow-u5{
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 6px 20px rgb(0 0 0 / 20%);
}
.bg-grayf7{
  background-color: #f7f7f7;
}
.bg-gray235{
  background-color: rgb(235,235,235);
}
.c-placeholder-u4::placeholder{
  font-weight: bold;
  color: #222;
}
.ml--u4{
  margin-left:-10px;
}